BODY {
	FONT-SIZE: 12px; FONT-FAMILY: "宋体"
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: "宋体"
}
.big {
	FONT-SIZE: 14px; FONT-FAMILY: "Tahoma", "宋体"
}
A:visited {
	COLOR: #000000; FONT-FAMILY: "宋体", "Tahoma"; TEXT-DECORATION: none
}
A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.b:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.b:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.b:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.b:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.h {
	FONT-SIZE: 12px; LINE-HEIGHT: 18px; FONT-FAMILY: "宋体"
}
.copy {
	FONT-SIZE: 12px; FONT-FAMILY: "Tahoma"
}
